{% extends "base.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'pacientes/css/pacientes.css' %}" />
{% endblock %} {% block 'dashboard' %}
<div class="container">
  <div class="row">
    <div onclick="exibir_form('1')" class="col-md card-dashboard">
      <p class="text-card">Cadastrar pacientes</p>
    </div>

    <div onclick="exibir_form('2')" class="col-md card-dashboard">
      <p class="text-card">Atualizar paciente</p>
    </div>
  </div>
  <div id="add_paciente" class="adicionar-paciente">
    <form action="{% url 'pacientes' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md">
          <p>Nome:</p>
          <input
            type="text"
            class="form-control"
            placeholder="Primeiro nome"
            name="nome"
            value="{{nome}}"
          />
        </div>
        <div class="col-md">
          <p>Sobrenome:</p>
          <input
            type="text"
            class="form-control"
            placeholder="Sobrenome"
            name="sobrenome"
            value="{{sobrenome}}"
          />
        </div>
      </div>
      <br />
      <p>E-mail:</p>
      <input
        type="email"
        class="form-control"
        placeholder="nome@email.com"
        name="email"
        value="{{email}}"
      />
      <br />
      <p>CPF:</p>
      <input
        type="text"
        class="form-control"
        placeholder="___.___.___-__"
        name="cpf"
        value="{{cpf}}"
      />
      <hr style="background-color: gray" />

      <div class="add-carros">
        <span class="btn-add-carros" onclick="add_carro()"
          >Registrar vacinas +</span
        >
        <div id="form-carro">
          {%for vacina, fabricante, codigo in vacinas %}
          <br />
          <div class="row">
            <div class="col-md">
              <input
                type="text"
                placeholder="Vacina"
                class="form-control"
                name="vacina"
                value="{{vacina}}"
              />
            </div>

            <div class="col-md">
              <input
                type="text"
                placeholder="Fabricante"
                class="form-control"
                name="fabricante"
                value="{{fabricante}}"
              />
            </div>

            <div class="col-md">
              <input
                type="number"
                placeholder="Cód."
                class="form-control"
                name="codigo"
                value="{{codigo}}"
              />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <br />
      <input type="submit" value="Cadastrar" class="btn-principal" />
    </form>
  </div>

  <div id="att_paciente">
    <p></p>
    <select
      id="paciente_select"
      onchange="dados_paciente()"
      class="form-control"
    >
      {% for paciente in pacientes%}
      <option value="{{paciente.id}}">
        {{paciente.nome}} | {{paciente.cpf}}
      </option>
      {%endfor%}
    </select>

    <br />
    <hr />

    <div id="form-att-paciente">
      <input type="hidden" id="id" />
      <p>Nome:</p>
      <input id="nome" type="text" class="form-control" />
      <p>Sobrenome:</p>
      <input id="sobrenome" type="text" class="form-control" />
      <p>E-mail:</p>
      <input id="email" type="text" class="form-control" />
      <p>CPF:</p>
      <input id="cpf" type="text" class="form-control" />
      <br />
      <input
        onclick="update_cliente()"
        type="submit"
        value="salvar"
        class="btn btn-success"
      />
      <hr style="background-color: gray" />
      <h2>Vacinas</h2>

      <div id="carros"></div>
    </div>

    
  </div>

  <script src="{% static 'pacientes/js/paciente.js' %}"></script>
  {% endblock %}
</div>
