{% extends 'base.html' %}

{% load static %}

{% block dashboard %}

<div class="container-fluid py-5">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lista de Serviços</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="tabela-servicos" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Unidade</th>
            <th>Protocolo</th>
            <th>Paciente</th>
            <th>CPF</th>
            <th>Região</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for servico in servicos %}
          <tr>
            <td><a href="{% url 'servico' servico.id %}">{{ servico.id }}</a></td>
            <td>{{ servico.unidade }}</td>
            <td>{{ servico.protocolo }}</td>
            <td>{{ servico.paciente.nome }} {{ servico.paciente.sobrenome }}</td>
            <td>{{ servico.paciente.cpf }}</td>
            <td>
              {% for regiao in servico.regiao_servico.all %}
                {{ regiao.cidade }}, {{ regiao.estado }}, {{ regiao.codigo_postal }}<br>
              {% endfor %}
            </td>
            <td>
              {% if servico.finalizado %}
                <span class="badge bg-success">Finalizado</span>
              {% else %}
                <span class="badge bg-warning text-dark">Em andamento</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>

{% endblock %}

{% block 'scripts' %}
<script src="{% static 'servicos/js/servicos.js' %}"></script>
{% endblock %}
